<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
  <div class="container">
    <a class="navbar-brand display-6 fw-bold text-uppercase" routerLink="/">User Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/">User List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/add-user">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/counter">Counter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>